@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600&display=swap");
body {
  font-family: "Work Sans", sans-serif;
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

p {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

input:focus, input:active {
  box-shadow: none !important;
}

img {
  max-width: 100%;
}

.p-t-0 {
  padding-top: 0 !important;
}

.p-b-0 {
  padding-bottom: 0 !important;
}

section {
  padding: 3.125rem 0;
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 575.98px) {
  section {
    padding: 1.25rem 0;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  section {
    padding: 1.875rem 0;
  }
}

.container {
  max-width: 1170px;
}
@media screen and (max-width: 575px) {
  .container {
    padding: 0px 15px;
    max-width: 100%;
    width: 100%;
  }
}

.text-mute {
  color: #787a7d !important;
}

html {
  scroll-behavior: smooth;
}

.section-title {
  text-align: center;
}
.section-title span {
  background-color: rgba(66, 82, 249, 0.2);
  padding: 6px 20px;
  border-radius: 130px;
  font-weight: 600;
  font-size: 0.9rem;
  color: #4252f9;
}
.section-title h2 {
  font-weight: 600;
  margin: 15px 0px;
}
.section-title p {
  max-width: 600px;
  margin: auto;
  font-size: 0.9rem;
}

.btn-primary {
  background-color: #1699e5 !important;
  border-color: #1699e5 !important;
}
.btn-primary:hover {
  background-color: #1699e5;
  border-color: #1699e5;
}
.btn-primary:active {
  background-color: #1699e5;
  border-color: #1699e5;
}

header {
  background-color: #1699e5;
}
header .head-col {
  padding: 10px;
}
header .head-col .logo-col img {
  max-width: 250px;
}
header .head-col .show {
  display: flex !important;
}
@media screen and (max-width: 991px) {
  header .head-col .nav-col {
    display: none;
  }
}
header .head-col .nav-col ul {
  float: right;
}
header .head-col .nav-col ul li {
  float: left;
  padding: 10px;
  padding-right: 25px;
}
header .head-col .nav-col ul li a {
  color: #FFF;
  font-weight: 600;
  font-size: 0.9rem;
}
@media screen and (max-width: 991px) {
  header .head-col .nav-col ul li {
    float: none;
  }
}
header .small-menu {
  color: #FFF;
  float: right;
  font-size: 32px;
  padding-top: 2px;
}

.slider {
  padding: 50px;
  text-align: center;
  background-color: #1699e5;
  padding-top: 30px;
  padding-bottom: 120px;
}
@media screen and (max-width: 940px) {
  .slider {
    padding: 30px 10px;
  }
}
.slider .image-part {
  text-align: center;
  margin: auto;
  padding-top: 30px;
}
.slider .image-part img {
  max-width: 450px;
}
.slider .text-part {
  padding-top: 78px;
  text-align: left;
}
.slider .text-part h1 {
  font-weight: 300;
  font-size: 3.5rem;
  margin-bottom: 25px;
  color: #fff;
  font-weight: 500;
}
.slider .text-part p {
  color: #FFF;
}
.slider .text-part .btn {
  margin-top: 30px;
  font-weight: 600;
  font-size: 1.1rem;
  padding: 8px 30px;
  border-radius: 50px;
}

.domain-search {
  background-color: #f0f5fa;
  padding: 80px;
}
.domain-search .domain-container {
  float: none;
  margin: auto;
}
.domain-search .domain-container h4 {
  width: 100%;
  text-align: center;
  margin-bottom: 40px;
  font-weight: 600;
}
.domain-search .domain-container .search-row .txtcol {
  padding-right: 0px;
}
.domain-search .domain-container .search-row .txtcol input {
  border-radius: 0px;
  height: 50px;
}
.domain-search .domain-container .search-row .btncol {
  padding-left: 0px;
}
.domain-search .domain-container .search-row .btncol .btn {
  width: 100%;
  border-radius: 0px;
  height: 50px;
}
.domain-search .domain-container .domainnamers ul li {
  float: left;
  margin-right: 5px;
  padding: 15px;
  font-weight: 600;
  font-size: 1.2rem;
  font-weight: 600;
}
.domain-search .domain-container .domainnamers ul li span {
  margin-left: 5px;
  font-size: 1.1rem;
  background-color: #1699e5 !important;
}

.plans-container {
  padding: 50px;
}
@media screen and (max-width: 940px) {
  .plans-container {
    padding: 30px 10px;
  }
}
.plans-container .plan-row .plan-col .plan-cover {
  border: 1px solid #e2e2e2;
}
.plans-container .plan-row .plan-col .plan-cover .plan-title {
  padding: 30px;
  text-align: center;
}
.plans-container .plan-row .plan-col .plan-cover .plan-title h5 {
  font-weight: 600;
}
.plans-container .plan-row .plan-col .plan-cover .plan-title span {
  font-size: 1.3rem;
}
.plans-container .plan-row .plan-col .plan-cover .plan-body {
  padding: 25px;
  background-color: #f0f5fa;
}
.plans-container .plan-row .plan-col .plan-cover .plan-body ul li {
  padding: 10px 5px;
  font-size: 0.9rem;
}
.plans-container .plan-row .plan-col .plan-cover .plan-body ul li i {
  font-size: 0.9rem;
}
.plans-container .plan-row .plan-col .plan-cover .btn-cover {
  padding: 30px;
}
.plans-container .plan-row .plan-col .plan-cover .btn-cover .btn {
  width: 100%;
}

.features {
  padding: 50px;
  background-color: #f3f4f8;
}
@media screen and (max-width: 940px) {
  .features {
    padding: 30px 10px;
  }
}
.features .feature-row {
  margin-top: 30px;
}
.features .feature-row .feature-col {
  text-align: left;
  background-color: #FFF;
  padding: 30px;
  margin-bottom: 30px;
  box-shadow: 0 2px 3px 0 rgba(218, 218, 253, 0.35), 0 0px 3px 0 rgba(206, 206, 238, 0.35);
}
.features .feature-row .feature-col img {
  margin-bottom: 15px;
}
.features .feature-row .feature-col i {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #28a745;
}
.features .feature-row .feature-col:hover {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.features .feature-row .feature-col h4 {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 12px;
}
.features .feature-row .feature-col p {
  font-size: 0.9rem;
}

.more-features {
  padding: 50px;
  background-color: #fff;
}
@media screen and (max-width: 940px) {
  .more-features {
    padding: 30px 10px;
  }
}
.more-features .more-featur-ro {
  margin-top: 20px;
}
.more-features .more-featur-ro .more-feat {
  display: flex;
  margin-bottom: 30px;
}
.more-features .more-featur-ro .more-feat .icon {
  padding: 15px;
}
.more-features .more-featur-ro .more-feat .icon img {
  width: 110px;
}
.more-features .more-featur-ro .more-feat .detail {
  padding: 15px;
}

/* =================== Testimonial Starts Here =================== */
.customer-serv {
  padding: 45px;
  background-color: #fbfafa00;
}
@media screen and (max-width: 554px) {
  .customer-serv {
    padding: 40px 20px;
  }
}
@media screen and (max-width: 1063px) {
  .customer-serv {
    padding: 40px 20px;
  }
}
@media screen and (max-width: 348px) {
  .customer-serv {
    padding: 30px 10px !important;
  }
}
.customer-serv .ro-clo {
  padding: 40px 0px;
  padding-top: 25px;
}
.customer-serv .card-b::after {
  box-sizing: border-box;
  background-color: #FFF;
  content: "";
  position: absolute;
  z-index: 100;
  height: 25px;
  left: 35px;
  top: 108px;
  transform: rotate(135deg);
  width: 25px;
}
.customer-serv .card-b {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  padding: 20px;
  text-align: center;
  font-size: 14px;
  background: url(../images/quotes.png) no-repeat bottom right;
  background-color: rgba(0, 0, 0, 0);
  background-position-x: right;
  background-position-y: bottom;
  background-size: auto auto;
  background-color: #FFF;
  background-size: 40px;
  background-position: right 10px bottom 5px;
}
.customer-serv .card-b p {
  font-size: 0.9rem;
  font-weight: 500;
}
.customer-serv .an-mtc {
  padding-top: 23px;
}
.customer-serv .stars {
  padding-top: 33px;
}
.customer-serv .stars li {
  list-style: none;
  color: #f8b739;
  float: right;
  font-size: 13px;
  margin-left: 4px;
}
.customer-serv .img-circl {
  margin-top: 20px;
  text-align: center;
}
.customer-serv .img-circl img {
  width: 80%;
  border-radius: 50%;
}
.customer-serv .star-par {
  padding-left: 0px;
}
@media screen and (max-width: 1013px) {
  .customer-serv .stars li {
    font-size: 12px;
  }
}
@media screen and (max-width: 991px) {
  .customer-serv .card-b::after {
    display: none;
    margin-top: 20px;
  }
  .customer-serv .col-12 {
    margin-top: 20px;
  }
}

.blog {
  padding: 50px;
  background-color: #f0f5fa;
}
@media screen and (max-width: 940px) {
  .blog {
    padding: 30px 10px;
  }
}
.blog .blog-row {
  margin-top: 20px;
}
.blog .blog-row .blogcol {
  margin-bottom: 30px;
}
.blog .blog-row .blogcol img {
  margin-bottom: 10px;
}
.blog .blog-row .blogcol span {
  font-size: 0.8rem;
}
.blog .blog-row .blogcol h4 {
  margin-top: 10px;
  font-weight: 600;
  font-size: 1.1rem;
  line-height: 26px;
}

/* ===================================== Fooer CSS ================================== */
.footer {
  padding: 50px;
  background-color: #1d3750;
  color: #FFF;
}

@media screen and (max-width: 940px) {
  .footer {
    padding: 50px 10px;
  }
}
.footer h2 {
  font-size: 22px;
  margin-top: 20px;
  color: #fff;
  margin-bottom: 20px;
  font-weight: 600;
}

.footer p {
  text-align: justify;
  text-indent: 20px;
  font-size: 0.9rem;
}

.footer .link-list li {
  padding: 7px;
  font-weight: 500;
  font-size: 0.95rem;
  border-bottom: 1px solid #7586985c;
}

.footer .link-list li a {
  color: #FFF;
}

.footer .link-list li i {
  float: right;
}

.footer .map-img {
  font-weight: 600;
  font-size: 17px;
  padding-left: 20px;
}

address {
  font-size: 0.95rem;
}
address a {
  color: #fff;
}

.copy {
  padding: 20px;
  background-color: #1f3346;
  font-size: 0.85rem;
  color: #FFF;
}

.copy a {
  color: #FFF;
}

.copy span {
  float: right;
}

.copy span i {
  margin-right: 20px;
}

@media screen and (max-width: 777px) {
  .copy span {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
